button{
    cursor: pointer;
}

button:hover{
    filter: brightness(1.2);
}

.header-nav-btn{
    color: var(--color-grey-4);
    background-color: var(--color-grey-1);
    padding: 7.5px 27px;
    border-radius: 2rem;
    border: none;
}

.header-nav-buttons{
    gap: 23px;
}

.selected{
    color: var(--color-grey-5);
    border: 2px solid var(--color-grey-5);
}

.about-user .contact-user button{
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: var(--color-grey-2);
}

.user-pic .favorite-user-btn{
    background-color: var(--color-grey-2);
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
    transition: 0.3s;
}

.liked{
    background-color: var(--color-pink-1) !important;
    transition: 0.3s ease;
}