.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

.wrap{
    flex-wrap: wrap;
}