.search-input-area{
    width: 100%;
    border: 2px solid var(--color-grey-3);
    background-color: var(--color-grey-2);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}

.search-input-area:hover{
    border: 2px solid var(--color-grey-5);
}

.search-input{
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--color-grey-5);
    padding-left: 10px;
    width: 100%;
}

